.boat-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.boat-item {
    font-family: "Bank Ghotic";
    color: white;
    font-size: 25px;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    transition: 200ms;
}

.boat-item:hover {
    background-color: #00294b;
}