@font-face {
  font-family: "Bank Ghotic";
  src: url(../public/BankGothic\ Regular.ttf)
}

@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Raleway:wght@300&display=swap');
body {
  margin: 0;
  padding: 0;

  background-color: #00233F;
}

.title {
  font-family: "Bank Ghotic";
  color: white;
  font-size: 40px;
  text-align: center;
}