header {
    z-index: -1;

    background: var(--themeColor1);
    padding-bottom: 350px;
    text-align: center;

    background-image: url('../public/banniere.png');
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: contain;

    transition: all 10000ms;
}